.menu-item-has-icon a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 2.85em;
	width: 2.85em;
	color: #fff;
	background-color: #777;
	border-radius: 20px;
}

.menu-item-has-icon svg {
	display: block;
	width: 24px;
	height: 24px;
	transform: translateZ(0);
}